<div class="container">
  <nav class="navbar navbar-inverse bg-inverse navbar-toggleable-sm justify-content-center">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a href="/" class="navbar-brand d-flex w-50 mr-auto">Friend HQ</a>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['dashboard']">Dashboard</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/people">Friends</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div class="container">

  <router-outlet></router-outlet>

</div>
<footer class="footer text-center">
  <nav class="navbar fixed-bottom navbar-light bg-faded">
    <a class="navbar-brand" href="#">Created by The Loom</a>
  </nav>
</footer>
