<div class="col-xs-12 col-md-9">
  <div *ngIf="displayBanner" class="alert alert-success box-msg" role="alert">
    <strong>{{updatedFriend.first_name}}</strong> was upadated.
  </div>
</div>

<div class="col-xs-12 col-md-9">
  <div *ngIf="displayAddSuccess" class="alert alert-success box-msg" role="alert">
    <strong>{{updatedFriend.first_name}}</strong> was successfully added.
  </div>
</div>

<div class="person-list">
  <div class="row">
    <div class="col-xs-12 col-md-9">
      <div class="list-group">

        <app-show-person *ngFor="let friend of friends" [friend]=friend (notifyParent)="onUpdate($event)"></app-show-person>

        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">

              <p>Total friends: {{friends.length}}</p>

              <p *ngIf="friends && friends.length > 5">
                You have more than 5 friends, yay for you.
              </p>

              <p *ngIf="selectedFriend">Selected friend: {{selectedFriend.first_name}}</p>


            </h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-3 sidebar">
      <div class="form-group form-inline">
        <form>
          <input name="first" [(ngModel)]="newFriend.first_name" placeholder="First Name" class="form-control" />
          <input name="last" [(ngModel)]="newFriend.last_name" placeholder="Last Name" class="form-control" />
          <select name="gender" [(ngModel)]="newFriend.gender" class="form-control">
          <option *ngFor="let obj of genders" [ngValue]="obj">{{obj}}</option>
        </select>
          <a href="#" (click)="addFriend(); false" class="btn btn-success sidebar-cta">
        Add Friend
        </a>
        </form>
      </div>

    </div>
  </div>
</div>

<br/>
<br/>
<br/>
<br/>
