<div class="person-list">
  <div class="row">
    <div class="col-xs-12 col-md-9">
      <div class="list-group">

        <app-show-person *ngFor="let friend of friends" [friend]=friend></app-show-person>

        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">

              <p>Total friends: {{friends.length}}</p>

              <p *ngIf="friends && friends.length > 5">
                You have more than 5 friends, yay for you.
              </p>

              <p *ngIf="selectedFriend">Selected friend: {{selectedFriend.first_name}}</p>


            </h5>
          </div>
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-md-3 sidebar">
      <div class="form-group form-inline">
        <input [(ngModel)]="newFriendFirst" placeholder="First Name" class="form-control" />
        <input [(ngModel)]="newFriendLast" placeholder="Last Name" class="form-control" />
        <a href="#" (click)="addFriend(); false" class="btn btn-success sidebar-cta disabled">
        Add someone
        </a>
      </div>
    </div>
  </div>
</div>

<br/>
<br/>
<br/>
<br/>
